<p id="notice"><%= notice %></p>

<h1>Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Rotting</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <td id="zombies">
        <%= render @zombies %>
      </td>
  </tbody>
</table>
<!--Create new zombie-->
<%= form_for(Zombie.new, remote: true) do |f| %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :age %>
      <%= f.number_field :age %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>


<% end %>






