<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zombie.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @zombie.bio %>
</p>

<p>
  <strong>Age:</strong>
  <%= @zombie.age %>
</p>


<span id=  <%= @zombie.age%> </span>

<div id="custom_age">
  <%= form_for @zombie, url: custom_age_zombie_path(@zombie),
    remote: true do |f| %>
      <strong>Custom Age</strong>
      <%= f.text_field :age %>
      <%= f.submit "Set" %>
  <% end %>
</div>
<br>
<%= link_to 'Zombie Tweets', zombie_tweets_path([@zombie]) %>
<%= link_to 'Edit', edit_zombie_path(@zombie) %>
<%= link_to 'Back', zombies_path %>